<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">customeblz</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
    

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddCustomer">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AddCustomer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddOrder">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AddOrder
            </NavLink>
        </div>

    </nav>
</div>

